.terminal-content {
  padding: 4px;
  text-align: left;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  overflow-y: auto;
  height: 450px;
  box-sizing: border-box;

  scrollbar-color: #222831 #393e46;
}

.terminal-content::-webkit-scrollbar {
  width: 6px;
}

.terminal-content::-webkit-scrollbar-track {
  background: #393e46;
}

.terminal-content::-webkit-scrollbar-thumb {
  background-color: #222831;
  border-radius: 4px;
  padding: 2px;
}
