.terminal-input-container {
  display: flex;
  align-items: center;
}

.terminal-input {
  width: 100%;
  padding: 0;
  background: transparent;
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  color: #ffffff;
}

.terminal-input:focus {
  outline: none;
}
